<nav class="flex flex-row items-center text-lg text-sky-600">
    <a class="mr-3" href="/writing">writing</a>
    <a class="mr-3" href="/reading">reading</a>
    <a class="mr-3" href="/links">links</a>
</nav>