astroid==2.3.3
beautifulsoup4==4.9.0
blinker==1.4
colorama==0.4.1
docutils==0.14
feedgenerator==1.9
isort==4.3.18
Jinja2==2.11.3
lazy-object-proxy==1.4.3
Markdown==3.1
MarkupSafe==1.1.1
mccabe==0.6.1
pelican==4.2.0
pelican-extended-sitemap==1.2.3
pelican-image-process==1.3.0
Pillow==8.3.2
pipupgrade==1.6.5
Pygments==2.7.4
pylint==2.3.1
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
smartypants==2.0.1
soupsieve==2.0
typed-ast==1.4.0
typogrify==2.0.7
Unidecode==1.0.23
wrapt==1.11.1
