{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}

<section id="content" class="body body-{{ article.category }}">
  {% if article.cover is defined %}
  <div class="article-cover">
  <img class="book-cover image-process-crisp" alt="{{ article.title }}" src="{{ SITEURL }}/{{ article.cover }}" />
  {% if article.bookshop is defined %}
  <div>
    <a href="{{ article.bookshop }}" class="article-link">Buy a copy &#10230;</a>
  </div>
  {% endif %}
  {% if article.book is defined %}
  <div>
    <a href="{{ article.book }}" class="article-link">See on Goodreads &#10230;</a>
  </div>
  {% endif %}
</div>
  {% endif %}
<article>
  <header class="heading-{{ article.category }}">
    <h1 class="entry-title">{{ article.title }}</h1>
    {% if article.subheading is not none %}
    <h2 class="reading-subheading">{{ article.subheading }}</h2>
    {% endif %}
    {% if article.category == "reading" %}
    <p class="reading-author">By {{ article.bookauthor }}</p>
    {% endif %}
  </header>
  <div class="post-info">
    <small><time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time></small>
    {% if article.modified %}
    <small><time class="modified" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time></small>
    {% endif %}
  </div>

  {% if article.link is defined %}
  <div>
    <a href="{{ article.link }}" class="article-link">Go to source &#10230;</a>
  </div>
  {% endif %}

  <div class="entry-content">
    {{ article.content }}
    <p>Cheers,</p>
    <img class="signature" src="{{ SITEURL }}/images/jacques.png" />
  </div>
  {% include 'subscribe.html' %}
  
</article>
</section>


{% endblock %}