{% extends "index.html" %}

{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}

{% block content %}
<section id="category">
    <h1>{{ category }}</h1>
    {% include 'subscribe.html' %}

    {% for article in articles_page.object_list %}
    <article class="hentry">
        <p class="entry-title"><small><time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.date|strftime('%d/%m/%Y') }} </time></small><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></p>
    </article>
    {% endfor %}
    
</section>
{% endblock %}

