<p class="description">Included here are the non-fiction titles I've read. For everything else, follow me on <a href="https://www.goodreads.com/user/show/86396018-jacques-corby-tuech">Goodreads</a>.</p>
<p><em>-- 2021 --</em></p>
<p>-- Recommended --</p>
{% for article in articles_page.object_list %}
    {% if article.date|strftime('%Y') == "2021" %}
        {% if article.recommended == "True" %}
        <article class="hentry">
            <p class="entry-title"><small><time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.date|strftime('%d/%m/%Y') }} </time></small><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>{% if article.recommended == "True" %} ⚡{% endif %}</p>
        </article>
        {% endif %}
    {% endif %}
{% endfor %}
<p>-- Everything else --</p>
{% for article in articles_page.object_list %}
    {% if article.date|strftime('%Y') == "2021" %}
        {% if article.recommended == "" %}
        <article class="hentry">
            <p class="entry-title"><small><time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.date|strftime('%d/%m/%Y') }} </time></small><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></p>
        </article>
        {% endif %}
    {% endif %}
{% endfor %}
<p><em>-- 2020 --</em></p>
<p>-- Recommended --</p>
{% for article in articles_page.object_list if article.date|strftime('%Y') == "2020" %}
        {% if article.recommended == "True" %}
        <article class="hentry">
            <p class="entry-title"><small><time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.date|strftime('%d/%m/%Y') }} </time></small><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>{% if article.recommended == "True" %} ⚡{% endif %}</p>
        </article>
        {% endif %}
{% endfor %}
<p>-- Everything else --</p>
{% for article in articles_page.object_list if article.date|strftime('%Y') == "2020" %}
        {% if article.recommended == "" %}
        <article class="hentry">
            <p class="entry-title"><small><time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.date|strftime('%d/%m/%Y') }} </time></small><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></p>
        </article>
        {% endif %}
{% endfor %}