---
layout: default.njk
templateClass: tmpl-home
---
{% extends "default.njk" %}

{% block content %}

<section class="flex flex-col items-center justify-center">
<article class="max-w-4xl">
    {% include 'subscribe.njk' %}

  <div class="mt-10 content category">
    {{ content | safe }}
  </div>
  
</article>
</section>


{% endblock %}