{% extends "default.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="flex flex-col flex-1 max-w-5xl mx-auto w-full mt-12">
  <article class="content">
    <header class="text-center text-4xl mb-2 font-bold leading-normal">
      <h1>{{ title }}</h1>
    </header>
    <div class="text-sm text-center mt-5 mb-5">
      <time class="published" datetime="">
        {{ date | readableDate }}
      </time>
    </div>

    <main class="mt-6">
      <a class="text-3xl" href="{{ link }}">Go to source &#10230;</a>
      {{ content | safe }}
    </main>
    
  </article>
  {% include 'partials/signature.njk' %}
  {% include 'partials/subscribe.njk' %}
</section>


{% endblock %}