html {
  line-height: 1.4; /* 1 */
  font-size: 20px;
  font-family: Cambria, Georgia, serif;
}

body {
  margin: 0;
}

fieldset {
  border:0;
  padding:0;
}

main {
  display: block;
}

h1 {
  font-size: 2rem;
  margin: 0.67rem 0 0.3rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.2rem 0;
}

.entry-content h2 {
  margin-top:2em;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  margin: 3em auto;
  max-width: 60%;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1rem; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1rem; /* 2 */
}

small {
  font-size: 0.8rem;
}

sub,
sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

img {
  border-style: none;
}

fieldset {
  padding: 0.35rem 0.75rem 0.625rem;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

[hidden] {
  display: none;
}

blockquote {
  margin:2em 0;
  padding:1em;
  border-left:0.5em #e2e2e2 solid;
  background:#ececec;
  text-shadow: 1px 1px #ffffff ;
}

#index {
  max-width: 55rem;
  margin: 0 auto;
  width: 90%;
}

#banner {
  margin-top: 1rem;
}

#banner a {
  text-decoration:none;
}

img {
  max-width: 80%;
  margin: 4em auto;
  display: block;
}

#contentinfo {
  margin-bottom: 4rem;
}

#post-list {
  list-style-type: none;
  padding: 0;
}

.heading-writing, .heading-links {
  text-align:center;
  margin-top:2em;
}

.heading-reading {
  text-align:center;
  margin-top:2em;
}

.badge {
  font-size: 10px;
  padding: 3px 8px;
  border-radius: 5px;
  color: #FFFFFF;
  margin-right:1em;
}

.badge-writing {
  background: #2e4cff;
}

.badge-links {
  background: #ffe12e;
  color: #282828;
}

.badge-reading {
  background: #ff2e4c;
}

.article-link {
  display: block;
  margin-top: 1em;
  font-size: 1.2em;
}

.post-info {
 display:flex;
 align-items:center;
}

.body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top:2em;
  justify-content: center;
}

.body .post-info {
  justify-content: center;
  margin-top:1em;
}

.book-cover {
  max-width:22rem;
  width:100%;
}

.body-reading article {
  margin-left:0;
}

.body-links, .body-writing {
  max-width: 45rem;
  margin:0 auto;
}

#menu {
  display:flex;
  align-items:center;
  flex-direction: row;
}

.nav {
  margin-right:0.5em;
  text-decoration:none;
  font-size: 0.85em;
}

.nav:hover, .active {
  text-decoration:underline;
}

.reading-subheading {
  margin-top:-0.5em;
  font-weight:500;
}

.reading-content {
  display:flex;
}

.reading-author {
  margin-top:0;
}

.footer {
  display: flex;
  margin-top:2em;
}

.footer a:first-child {
  margin-left:0;
}

.footer a {
  margin-left:1em;
}

.body-writing h1 {
  font-size:2em;
}

.article-cover {
  margin:0 auto;
}

.signature {
  width:180px;
  margin-left:-10px;
  margin-top:-2rem;
  margin-bottom:0;
}


.subscribe {
  border:1px solid #f3f3f3;
  padding:1rem;
  margin-top:1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  background:#fbfbfb;
}

.subscribe h4 {
  font-size: 1.5rem;
  margin-top:0.5rem;
  margin-bottom:1.5rem;
}

.subscribe-form {
  padding:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  justify-content: center;
}

.subscribe-form input {
  padding:0.75rem;
  width:100%;
  box-sizing: border-box;
}

.subscribe-form button {
  padding:0.75rem;
  width:100%;
  font-weight:600;
  margin-top:0.5rem;
  box-sizing: border-box;
  text-transform: uppercase;
}

.small-text {
  font-size:0.75rem;
}

#homepage .published, #category .published {
  margin-right:1rem;
}

#homepage .subscribe, #category .subscribe {
  margin:5rem 0;
}

#homepage h1 {
  margin-top:5rem;
}

.posts-writing, .posts-reading, .posts-links {
  margin-top:5rem;
}

code {
  background: #e2e2e2;
  font-size: 0.85em;
}

@media (min-width: 480px) {
  #banner {
    margin-top: 4rem;
  }

  .body-writing h1 {
    font-size:3em;
  }
}

@media (min-width: 1024px) {
  .body {
    flex-direction: row;
    justify-content: flex-start;
  }
  .body-reading article {
    margin-left:3rem;
  }
  .article-cover {
    margin: 0;
  }
  .heading-reading {
    text-align:left;
  }
  .body-reading .post-info {
    justify-content: start;
  }
  .book-cover{
    width:auto;
  }
  .subscribe-form {
    flex-direction: row;
  }

  .subscribe-form input {
    width:16rem;
  }
  
  .subscribe-form button {
    margin-top:0;
    margin-left:0.5rem;
    width:6rem;
  }
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
