html {
  line-height: 1.4; /* 1 */
  font-size: 20px;
  font-family: Cambria, Georgia, serif;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2rem;
  margin: 0.67rem 0 0.3rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.2rem 0;
}

.entry-content h2 {
  margin-top:2em;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  margin: 3em auto;
  max-width: 60%;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1rem; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1rem; /* 2 */
}

small {
  font-size: 0.8rem;
}

sub,
sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

img {
  border-style: none;
}

fieldset {
  padding: 0.35rem 0.75rem 0.625rem;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

[hidden] {
  display: none;
}

blockquote {
  margin:2em 0;
  padding:1em;
  border-left:0.5em #e2e2e2 solid;
  background:#ececec;
  text-shadow: 1px 1px #ffffff ;
}

#index {
  max-width: 45rem;
  margin: 0 auto;
  width: 90%;
}

#banner {
  margin-top: 1rem;
}

#banner a {
  text-decoration:none;
}

img {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

#contentinfo {
  margin-bottom: 4rem;
}

#post-list {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 480px) {
  #banner {
    margin-top: 4rem;
  }
}

.badge {
  font-size: 10px;
  padding: 3px 8px;
  border-radius: 5px;
  color: #FFFFFF;
  margin-right:1em;
}

.badge-writing {
  background: #2e4cff;
}

.badge-links {
  background: #ffe12e;
  color: #282828;
}

.badge-reading {
  background: #ff2e4c;
}

.article-link {
  display: block;
  margin-top: 1em;
  font-size: 1.2em;
}

.post-info {
 display:flex;
 align-items:center; 
}

#menu {
  display:flex;
  align-items:center;
  flex-direction: row;
}

.nav {
  margin-right:0.5em;
  text-decoration:none;
  font-size: 0.85em;
}

.nav:hover, .active {
  text-decoration:underline;
}

.reading-subheading {
  margin-top:-0.5em;
  font-weight:500;
}

.reading-content {
  display:flex;
}

.reading-author {
  margin-top:0;
}

.footer {
  display: flex;
  margin-top:2em;
}

.footer a:first-child {
  margin-left:0;
}

.footer a {
  margin-left:1em;
}