---
permalink: /links/
---

{% extends "default.njk" %}

{% block title %}Links{% endblock %}

{% block content %}

<section class="flex flex-col items-center justify-center">
<article class="max-w-5xl w-full mx-auto">
  <h1 class="text-3xl font-bold mt-10">Links</h1>
  <p class="text-lg mt-4">Useful links and resources</p>

  <div class="mt-10 content category">
    {% set postslist = collections.links %}
    {% include 'postslist.njk' %}
  </div>
  
</article>
</section>


{% endblock %}