{% extends "default.njk" %}

{% block title %}Jacques Corby-Tuech{% endblock %}

{% block content %}
  <div class="">
    <h1 class="text-4xl font-bold">Hi, I'm Jacques</h1>
    <p class="text-xl">I do Marketing Ops and CRM</p>
  </div>
{% endblock %}